        .pol img {
            max-width: 200px; /*define a largura máxima do elemento*/
            height: auto; /*ajusta a altura automaticamente*/
            border: 5px solid rgb(94, 7, 7); /*adiciona uma borda/adiciona cor a borda*/
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /*adiciona um esfumado tipo uma sombra*/
            border-radius: 10px; /*ele suavizar as pontas da borda*/
            transition: 0.3s; /*adicionar uma transição para uma mudança*/
        }
        /*efeito hover au passar o mauser */
        .pol img:hover {
            transform: scale(1.05); /*aumenta o tamanho do elemento em 5%*/
            box-shadow: 0px 8px 25px rgba(255, 0, 0, 0.5); /*adiciona um esfumado tipo uma sombra*/
            border-color: #ff0000; /*adiciona cor a borda*/
        } 
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
        body{background-color: rgb(46, 12, 12);} /*adiciona cor de fundo no site*/    
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/        
        .galeria {
            display: flex; /*ativa o Flexbox/alinha automaticamente*/
            justify-content: center; /*centraliza os elementos*/
            gap: 20px; /* adiciona espaço entre os elementos */
            flex-wrap: wrap; /* quebra linha quando faltar espaço */
            padding: 50px; /*o espaço interno*/
            background-color: #5e1616; /*adiciona cor de fundo au bloco*/
        }

        .galeria img {
            max-width: 200px; /*define a largura máxima do elemento*/
            height: auto;  /*ajusta a altura automaticamente*/
            border: 5px solid rgb(94, 7, 7); /*adiciona uma borda/adiciona cor a borda*/
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);  /*adiciona um esfumado tipo uma sombra*/
            border-radius: 10px; /*ele suavizar as pontas da borda*/
            transition: 0.3s; /*adicionar uma transição para uma mudança*/
        }

        .galeria img:hover {
            transform: scale(1.05); /*aumenta o tamanho do elemento em 5%*/
            box-shadow: 0px 8px 25px rgba(255, 0, 0, 0.5); /*adiciona um esfumado tipo uma sombra*/
            border-color: #ff0000; /*adiciona cor a borda*/
        } 
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        button {
        
        padding: 7px 7px; /*o espaço interno*/
        font-size: 20px; /*aumenta a fonte */
        
        background-color: #680303; /*adiciona cor de fundo au bloco*/
        color: rgb(160, 25, 25); /*adiciona cor au texto dentro do button*/
        
        border: 5px solid rgb(99, 3, 3); /*adiciona uma borda/adiciona cor a borda*/
        box-shadow: 0px 4px 15px rgba(107, 3, 3, 0.3); /*adiciona um esfumado tipo uma sombra*/
        border-radius: 10px; /*ele suavizar as pontas da borda*/
        
        cursor: pointer;  /*muda o iconi do cursor */
        transition: 0.3s;  /*adicionar uma transição para uma mudança*/
        outline: none;   /*remove a borda de seleção do elemento*/
        }
         /*efeito hover au passar o mauser */
        button:hover {
        transform: scale(1.05); /*aumenta o tamanho do elemento em 5%*/
        box-shadow: 0px 8px 25px rgba(255, 0, 0, 0.5); /*adiciona um esfumado tipo uma sombra*/
        border-color: #ff0000;  /*adiciona cor a borda*/
        background-color: #a30d0d; /*adiciona cor de fundo au bloco*/
        }
    /*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
         /*adiciona uma fonte e dar cor a todos P*/
        p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: #cc0404;font-size: 20;}
        /*centraliza as imagem*/
        img{text-align: center;}
        /*adiciona uma fonte e centraliza e dar cor a todos H1*/
        h1{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center; color: #a51a01;}

        section{
            text-align: center; /*centraliza o (section) no centro da tela */
            background: rgba(0, 0, 0, 0.555); /*adiciona cor de fundo*/
            backdrop-filter: blur(10px);
            padding: 30px; /*o espaço interno*/
            margin: 30px auto; /*adiciona espaço em cima/baixo (30px) e centraliza o elemento horizontalmente (auto)*/
            border-radius: 30px; /*ele suavizar as pontas da borda*/
            max-width: 800px; /*define a largura máxima do elemento*/
            border: 1px solid rgba(255, 51, 0, 0.2);  /*adiciona uma borda/adiciona cor a borda*/
            box-shadow: 0 0 30px rgba(255, 51, 0, 0.3); /*adiciona um esfumado tipo uma sombra*/
        }
         /*adiciona uma fonte e dar cor a todos A*/
        a{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #420101;}
         /*centraliza as lista*/
        li{text-align: center;}
         /*adiciona uma fonte e dar cor a todos footer*/
        footer{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #ff0000; }
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/